* {
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  height: 100vh;
}

.Side-bar {
  width: 300px;
  &__header {
    height: 100px;
    background-color: #253141;
    display: flex;
    align-items: center;
    &--box {
      height: 20px;
      width: 260px;
      margin: 0 20px;
      display: flex;
      justify-content: space-between;
      &--name {
        color: #ffffff;
        font-weight: bold;
      }
      &--icon {
        width: 60px;
        list-style: none;
        display: flex;
        justify-content: flex-end;
        .tag {
          color: #ffffff;
        }
        &--cog {
          margin-left: 5px;
        }
      }
    }
  }
  &__group {
    height: calc(100vh - 100px);
    padding: 20px 20px 0;
    background-color: #2f3e51;;
    &--box {
      padding: 0 0 40px;
      .link {
        text-decoration: none;
      }
      .message1 {
        color: #ffffff;
        font-weight: bold;
        margin-bottom: 5px;
        font-size: 15px;
      }
      .message2 {
        color: #ffffff;
        font-size: 11px;
      }
    }
  }
}

.Chat-main {
  width: calc(100vw - 300px);
  background-color: #ffffff;
  &__header {
    height: 100px;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    border-bottom: 1px solid #eeeeee;
    .current {
      margin-top: 35px;
      font-size: 20px;
      color: #333333;
    }
    .member {
      margin-top: 15px;
      font-size: 12px;
      color: #999999;
      display: flex;
    }
    .btn1 {
      height: 40px;
      text-decoration: none;
      line-height: 40px;
      width: 72px;
      padding: 0 20px;
      color: #38aef0;
      margin: 28px 0;
      border: 1px solid #38aef0;
    }
  }
  &__message {
    padding: 35px 40px 0;
    height: calc(100vh - 190px);
    background-color: #fafafa;
    &--box {
      display: flex;
      &--name {
        font-weight: bold;
        font-size: 16px;
        color: #333333;
        margin-bottom: 12px;
      }
      &--date {
        padding-left: 12px;
        font-size: 12px;
        color: #999999;
      }
    }
    &--coment {
      font-size: 14px;
      color: #434a54;
      margin-bottom: 46px;
    }
  }
  &__form {
    height: 90px;
    padding: 20px 50px 20px 40px;
    background-color: #d2d2d2;
    .message {
      border: none;
      float: left;
      height: 50px;
      width: calc(100% - 150px);
      padding: 0 15px;
    }
    .inputBox {
      background-color: #ffffff;
      float: left;
      height: 50px;
      padding-right: 10px;
      .pic {
        font-size: 20px;
        line-height: 50px;
      }
      .file {
        display: none;
      }
    }
    .sendBtn {
      background-color: #38aef0;
      border: none;
      color: #fff;
      font-size: 16px;
      height: 50px;
      margin-left: 15px;
      padding: 0 30px;
      float: right;
    }
  }
}
